aiohappyeyeballs==2.4.4
aiohttp==3.11.9
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
appnope==0.1.3
asgiref==3.8.1
asttokens==2.4.1
attrs==23.2.0
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
CacheControl==0.14.0
cachetools==5.5.0
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.2.0
click==8.1.7
coloredlogs==15.0.1
comm==0.2.0
contourpy==1.2.0
cryptography==43.0.1
cssselect==1.2.0
customgpt-client==1.2.8
cycler==0.12.1
data==0.4
dataclasses-json==0.6.3
datasets==3.0.0
debugpy==1.8.0
decorator==5.1.1
decouple==0.0.7
deprecation==2.1.0
diffusers==0.30.0
dill==0.3.8
distlib==0.3.8
distro==1.9.0
Django==5.0.6
dnspython==2.4.2
executing==2.0.1
fake-useragent==2.0.1
fastapi==0.115.5
fastembed==0.3.3
filelock==3.12.4
firebase-admin==6.5.0
Flask==2.3.3
Flask-Cors==4.0.0
flatbuffers==24.3.25
fonttools==4.45.0
frozenlist==1.4.1
fsspec==2023.9.0
funcsigs==1.0.2
future==1.0.0
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gotrue==2.11.0
greenlet==3.1.1
groq==0.11.0
grpcio==1.66.2
grpcio-status==1.66.2
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html-parser==0.2
httpcore==1.0.2
httplib2==0.22.0
httpx==0.27.2
hugchat==0.3.10
huggingface-hub==0.23.4
humanfriendly==10.0
hyperframe==6.0.1
idna==3.4
importlib_metadata==8.2.0
importlib_resources==6.4.5
ipykernel==6.27.0
ipython==8.17.2
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
jupyter_client==8.6.0
jupyter_core==5.5.0
kiwisolver==1.4.5
langchain==0.1.1
langchain-community==0.0.13
langchain-core==0.1.13
langchain-openai==0.0.3
langsmith==0.0.83
latex==0.7.0
loguru==0.7.2
lxml==4.9.3
MarkupSafe==2.1.3
marshmallow==3.20.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
mmh3==4.1.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.4
multiprocess==0.70.16
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
numpy==1.25.2
ollama==0.3.3
onnx==1.16.1
onnxruntime==1.18.1
openai==1.8.0
opencv-python==4.9.0.80
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.1
parse==1.20.2
parso==0.8.3
password==0.2
pexpect==4.8.0
pillow==10.4.0
pinecone==5.3.1
pinecone-client==3.0.0
pinecone-plugin-inference==1.1.0
pinecone-plugin-interface==0.0.7
platformdirs==4.0.0
playwright==1.49.0
ply==3.11
postgrest==0.18.0
prompt-toolkit==3.0.41
propcache==0.2.1
proto-plus==1.24.0
protobuf==5.27.2
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.5.3
pydantic_core==2.14.6
pyee==12.0.0
PyGetWindow==0.0.9
Pygments==2.17.2
PyJWT==2.9.0
PyMsgBox==1.0.9
pynput==1.7.7
pyobjc==10.3
pyobjc-core==10.3
pyobjc-framework-Accessibility==10.3
pyobjc-framework-Accounts==10.3
pyobjc-framework-AddressBook==10.3
pyobjc-framework-AdServices==10.3
pyobjc-framework-AdSupport==10.3
pyobjc-framework-AppleScriptKit==10.3
pyobjc-framework-AppleScriptObjC==10.3
pyobjc-framework-ApplicationServices==10.3
pyobjc-framework-AppTrackingTransparency==10.3
pyobjc-framework-AudioVideoBridging==10.3
pyobjc-framework-AuthenticationServices==10.3
pyobjc-framework-AutomaticAssessmentConfiguration==10.3
pyobjc-framework-Automator==10.3
pyobjc-framework-AVFoundation==10.3
pyobjc-framework-AVKit==10.3
pyobjc-framework-AVRouting==10.3
pyobjc-framework-BackgroundAssets==10.3
pyobjc-framework-BusinessChat==10.3
pyobjc-framework-CalendarStore==10.3
pyobjc-framework-CallKit==10.3
pyobjc-framework-CFNetwork==10.3
pyobjc-framework-ClassKit==10.3
pyobjc-framework-CloudKit==10.3
pyobjc-framework-Cocoa==10.3
pyobjc-framework-Collaboration==10.3
pyobjc-framework-ColorSync==10.3
pyobjc-framework-Contacts==10.3
pyobjc-framework-ContactsUI==10.3
pyobjc-framework-CoreAudio==10.3
pyobjc-framework-CoreAudioKit==10.3
pyobjc-framework-CoreBluetooth==10.3
pyobjc-framework-CoreData==10.3
pyobjc-framework-CoreHaptics==10.3
pyobjc-framework-CoreLocation==10.3
pyobjc-framework-CoreMedia==10.3
pyobjc-framework-CoreMediaIO==10.3
pyobjc-framework-CoreMIDI==10.3
pyobjc-framework-CoreML==10.3
pyobjc-framework-CoreMotion==10.3
pyobjc-framework-CoreServices==10.3
pyobjc-framework-CoreSpotlight==10.3
pyobjc-framework-CoreText==10.3
pyobjc-framework-CoreWLAN==10.3
pyobjc-framework-CryptoTokenKit==10.3
pyobjc-framework-DataDetection==10.3
pyobjc-framework-DeviceCheck==10.3
pyobjc-framework-DictionaryServices==10.3
pyobjc-framework-DiscRecording==10.3
pyobjc-framework-DiscRecordingUI==10.3
pyobjc-framework-DiskArbitration==10.3
pyobjc-framework-DVDPlayback==10.3
pyobjc-framework-EventKit==10.3
pyobjc-framework-ExceptionHandling==10.3
pyobjc-framework-ExecutionPolicy==10.3
pyobjc-framework-ExtensionKit==10.3
pyobjc-framework-ExternalAccessory==10.3
pyobjc-framework-FileProvider==10.3
pyobjc-framework-FileProviderUI==10.3
pyobjc-framework-FinderSync==10.3
pyobjc-framework-FSEvents==10.3
pyobjc-framework-GameCenter==10.3
pyobjc-framework-GameController==10.3
pyobjc-framework-GameKit==10.3
pyobjc-framework-GameplayKit==10.3
pyobjc-framework-HealthKit==10.3
pyobjc-framework-ImageCaptureCore==10.3
pyobjc-framework-InputMethodKit==10.3
pyobjc-framework-InstallerPlugins==10.3
pyobjc-framework-InstantMessage==10.3
pyobjc-framework-Intents==10.3
pyobjc-framework-IntentsUI==10.3
pyobjc-framework-IOBluetooth==10.3
pyobjc-framework-IOBluetoothUI==10.3
pyobjc-framework-IOSurface==10.3
pyobjc-framework-iTunesLibrary==10.3
pyobjc-framework-KernelManagement==10.3
pyobjc-framework-LatentSemanticMapping==10.3
pyobjc-framework-LaunchServices==10.3
pyobjc-framework-libdispatch==10.3
pyobjc-framework-libxpc==10.3
pyobjc-framework-LinkPresentation==10.3
pyobjc-framework-LocalAuthentication==10.3
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.3
pyobjc-framework-MailKit==10.3
pyobjc-framework-MapKit==10.3
pyobjc-framework-MediaAccessibility==10.3
pyobjc-framework-MediaLibrary==10.3
pyobjc-framework-MediaPlayer==10.3
pyobjc-framework-MediaToolbox==10.3
pyobjc-framework-Metal==10.3
pyobjc-framework-MetalFX==10.3
pyobjc-framework-MetalKit==10.3
pyobjc-framework-MetalPerformanceShaders==10.3
pyobjc-framework-MetalPerformanceShadersGraph==10.3
pyobjc-framework-MetricKit==10.3
pyobjc-framework-MLCompute==10.3
pyobjc-framework-ModelIO==10.3
pyobjc-framework-MultipeerConnectivity==10.3
pyobjc-framework-NaturalLanguage==10.3
pyobjc-framework-NetFS==10.3
pyobjc-framework-Network==10.3
pyobjc-framework-NetworkExtension==10.3
pyobjc-framework-NotificationCenter==10.3
pyobjc-framework-OpenDirectory==10.3
pyobjc-framework-OSAKit==10.3
pyobjc-framework-OSLog==10.3
pyobjc-framework-PassKit==10.3
pyobjc-framework-PencilKit==10.3
pyobjc-framework-PHASE==10.3
pyobjc-framework-Photos==10.3
pyobjc-framework-PhotosUI==10.3
pyobjc-framework-PreferencePanes==10.3
pyobjc-framework-PushKit==10.3
pyobjc-framework-Quartz==10.3
pyobjc-framework-QuickLookThumbnailing==10.3
pyobjc-framework-ReplayKit==10.3
pyobjc-framework-SafariServices==10.3
pyobjc-framework-SafetyKit==10.3
pyobjc-framework-SceneKit==10.3
pyobjc-framework-ScreenCaptureKit==10.3
pyobjc-framework-ScreenSaver==10.3
pyobjc-framework-ScreenTime==10.3
pyobjc-framework-ScriptingBridge==10.3
pyobjc-framework-SearchKit==10.3
pyobjc-framework-Security==10.3
pyobjc-framework-SecurityFoundation==10.3
pyobjc-framework-SecurityInterface==10.3
pyobjc-framework-ServiceManagement==10.3
pyobjc-framework-SharedWithYou==10.3
pyobjc-framework-SharedWithYouCore==10.3
pyobjc-framework-ShazamKit==10.3
pyobjc-framework-Social==10.3
pyobjc-framework-SoundAnalysis==10.3
pyobjc-framework-Speech==10.3
pyobjc-framework-SpriteKit==10.3
pyobjc-framework-StoreKit==10.3
pyobjc-framework-SyncServices==10.3
pyobjc-framework-SystemConfiguration==10.3
pyobjc-framework-SystemExtensions==10.3
pyobjc-framework-ThreadNetwork==10.3
pyobjc-framework-UniformTypeIdentifiers==10.3
pyobjc-framework-UserNotifications==10.3
pyobjc-framework-UserNotificationsUI==10.3
pyobjc-framework-VideoSubscriberAccount==10.3
pyobjc-framework-VideoToolbox==10.3
pyobjc-framework-Virtualization==10.3
pyobjc-framework-Vision==10.3
pyobjc-framework-WebKit==10.3
pyparsing==3.1.1
pypdf==4.1.0
pyperclip==1.8.2
pyppeteer==2.0.0
pyquery==2.0.1
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
PyStemmer==2.2.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytweening==1.2.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.1
RapidFuzz==3.10.1
RateMyProfessorAPI==1.3.6
realtime==2.0.6
redis==5.2.1
regex==2023.8.8
replicate==0.23.0
requests==2.32.3
requests-html==0.10.0
requests-toolbelt==1.0.0
rsa==4.9
rubicon-objc==0.4.9
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.13.0
selenium==4.18.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
shutilwhich==1.1.0
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.25
sqlparse==0.5.0
sseclient-py==1.7.2
stack-data==0.6.3
starlette==0.41.3
storage3==0.9.0
supabase==2.10.0
supafunc==0.7.0
sympy==1.12
tempdir==0.7.1
tenacity==8.2.3
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.5
traitlets==5.13.0
transformers==4.33.1
trio==0.24.0
trio-websocket==0.11.1
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.20
virtualenv==20.26.3
w3lib==2.2.1
wcwidth==0.2.12
websockets==13.1
Werkzeug==2.3.7
wsproto==1.2.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.20.0
